<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" />
    <link
        href="https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Montserrat:wght@900&family=Ubuntu:ital@0;1&display=swap"
        rel="stylesheet">
    <title>Sign-up</title>
    <link rel="icon" type="image/x-icon" href="/images/favicon.jpg">
    <script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
    <script>
        $(document).ready(() => {
            $(".rgstr-btn").click(() => {
                if (($("#name-inp").val().length === 0)) {
                    $("#name-inp").css({ "border": "2px solid red" })
                }
            })
        })
    </script>

    <style>
        body,
        html {
            height: 100%;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #4372f4;
        }

        .container {
            background-color: #ede9e9;
            height: fit-content;
            width: fit-content;
            display: flex;
            /* border: 2px solid red; */
            border-radius: 8px;
            box-shadow: 2px 4px 10px 1px rgba(162, 162, 162, 0.726);
        }

        .form-div {
            /* border: 2px solid blue; */
            margin: 20px;
            min-width: 30vw;
            overflow: hidden;
        }

        .user-info {
            /* border: 2px solid green; */
            font-family: Ubuntu;
            display: flex;
            flex-direction: column;
            gap: 30px;
            margin-bottom: 4%;
        }

        .name-div {
            border-bottom: 2px solid #d3d3d3;
            border-radius: 4px;
            padding: 0px 8px 4px;
            display: flex;
            justify-content: left;
            gap: 10px;
            align-items: center;
        }

        .name-div:hover {
            border: 2px solid #D3D3D3;
            animation-delay: 150ms;
        }

        .inp-bar {
            height: 35px;
            border: none;
            background-color: #ede9e9;
        }

        .terms {
            padding-top: 10px;
            font-family: Ubuntu;
        }

        .footer {
            padding-top: 10%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .rgstr-btn {
            font-family: Ubuntu;
            height: 40px;
            width: 120px;
            background-color: #4372f4;
            color: #f3f3f3;
            border-radius: 8px;
            border: none;
            box-shadow: 2px 4px 10px 1px rgba(200, 200, 200, 0.44);
            cursor: pointer;
        }

        .rgstr-btn:hover {
            background-color: #5eeabb;
            color: #333;
            opacity: 90%;
        }

        h1 {
            line-height: 10px;
            padding-bottom: 12%;
            font-family: Inter;
        }

        #spn-style {
            text-decoration: underline;
            text-decoration-color: #4372f4;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="form-div">
            <div class="header">
                <h1><span id="spn-style">Re</span>gistration</h1>
            </div>
            <form method="POST" action="signup">
                <div class="user-info">
                    <div class="name-div">
                        <i class="fa-regular fa-user fa-xl"></i>
                        <input class="inp-bar" type="text" name="mobileInp"  placeholder=<%= mobile %>
                            disabled>
                    </div>
                    <div class="name-div">
                        <i class="fa-regular fa-user fa-xl"></i>
                        <input class="inp-bar" type="text" name="nameInp" placeholder="Enter your name"
                            required>
                    </div>
                    <div class="name-div">
                        <i class="fa-regular fa-envelope fa-xl"></i>
                        <input class="inp-bar" type="text" name="ageInp" placeholder="Enter your age"
                            required>
                    </div>
                    <div class="name-div">
                        <i class="fa-regular fa-envelope fa-xl"></i>
                        <input class="inp-bar" type="text" name="bloodgrpInp" id="bloodgrp-inp"
                            placeholder="Enter your blood group" required>
                    </div>
                    <div class="name-div">
                        <i class="fa-regular fa-envelope fa-xl"></i>
                        <input class="inp-bar" type="text" name="weightInp" id="weight-inp"
                            placeholder="Enter your weight" required>
                    </div>
                    <div class="name-div">
                        <i class="fa-regular fa-envelope fa-xl"></i>
                        <input class="inp-bar" type="text" name="heightInp" id="height-inp"
                            placeholder="Enter your height" required>
                    </div>
                </div>
                <div class="terms">
                    <input type="checkbox" label="inp-checkbox" required>
                    <label for="inp-checkbox">I accept all terms & conditions</label>
                </div>
                <div class="footer">
                    <button class="rgstr-btn" type="submit">Register Now</button>
                    <p>Already have an account? <b>Login now</b></p>
                </div>
            </form>
        </div>
    </div>
</body>

</html>